* {
    box-sizing: border-box;
    margin: 0;
    outline: none;
    padding: 0;
    border: none;
}

html{
  height: 100%;
}

body {
    font-family: Arial, Helvetica, Verdana, sans-serif;
    color: black;
    height: 100%;
    height: fit-content;
    margin: 0;
    background-color: aqua;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main {
    flex: 1 0 auto;
}

main {
    display: block;
}

img {
    border-style: none;
}

button, input {
    overflow: visible;
}

button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button, select {
    text-transform: none;
}


a {
    background-color: initial;
}

.empty-page {
    text-align: center;
    font-size: 100px;
    padding: 10%;
}

.section-outer {
    margin: 0 auto;
    max-width: 1920px;
}