.header{
    // display: flex;
    justify-content: space-between;
    // align-items: center;
    height: 70px;
    padding: 50px 20px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    background-color: #88fa5e;
    &_logo{
      font-size: 32px;
      color: black;
      text-decoration: none;
      font-weight: bold;
    }
    &_wrapper{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

