.book, .book_wrapper {
    align-items: center;
    display: flex;
    width: 100%;
}

.book {
    flex-direction: column;
    height: calc(100vh - 110px);
    justify-content: center;
    margin: 0 auto;
    padding: 20px;
}

.book_wrapper {
    height: 100%;
    justify-content: space-between;
}

.book_img {
    height: 100%;
    margin-right: 20px;
}

.book_img img {
    height: 100%;
    width: 100%;
}

img {
    border-style: none;
}

.book_container {
    display: flex;
    height: 100%;
    width: 100%;
}

.book_content {
    align-items: flex-start;
    display: flex;
    flex: 1 1;
    flex-direction: column;
    height: 100%;
    justify-content: flex-start;
    margin-right: 20px;
    width: 25%;
}

.book_author, .book_title {
    margin-bottom: 20px;
}

.book_level {
    margin-bottom: 25px;
}

.book_tags{
    display: flex;
    margin-bottom: 25px;
}

.book_tag{
    list-style: none;
}

.book_form{
    align-self: center;
    display: flex;
    flex: 1 1;
    flex-direction: column;
    height: 100%;
    justify-content: flex-start;
    width: 25%;
    border-style: dashed;
    padding: 8px;
    background-color: white;
}

.book_count, .book_price,  .book_total{
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-weight: 700;
}

.book_input {
    border: 1px solid #000;
    border-radius: 10px;
    border-right: none;
    height: 40px;
    position: relative;
    width: 70px;
}

.book_input input {
    border: none;
    height: 100%;
    margin-left: 20px;
    margin-right: 30px;
    width: 20px;
}

.book_input button {
    align-items: center;
    background: none;
    border: 1px solid #000;
    display: flex;
    font-size: 10px;
    height: 50%;
    justify-content: center;
    padding: 5px;
    position: absolute;
    right: 0;
}

.book_input .decrement {
    border-bottom-right-radius: 10px;
    bottom: 0;
}

.book_input .increment {
    border-top-right-radius: 10px;
    top: 0;
}

.book_form .undefined {
    align-self: flex-end;
}

.undefined {
    background-color: #e7e7e7;
    border-radius: 10px;
    padding: 10px 20px;
    transition: .4s;
    width: 200px;
}

.book_description {
    margin-top: 30px;
    width: 100%;
}



input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
